.quiz-page-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.answer-options{
    padding: 0;
    list-style: none;
}

.quiz-reset{
    display: flex;
    flex-direction: column;

}

